@import "tailwindcss";
 
body,body> div:first-child{
    height: 100%;
}
body> div:first-child{
    width: 100%;
    padding: 1rem;
    display: flex;
}
html{
    font-family: 'Poppins', sans-serif;
    height: 100%; 
}